<header>
    <nav>
    <a href="/sobre">P치gina Sobre </a> <br> 
    <a href="/login">P치gina Login</a>  <br> 
    <a href="/cadastro">P치gina Cadastro</a>  <br> 
    <a href="/dashboard">P치gina Dashboard </a>  <br> 
    </nav>
</header>