<header>
  <nav>
     <a href="/"> HOME</a>
     <a href="/sobre">SOBRE </a>
    <% if(!req.session.loggedin) {%>
     <a href="/login">LOGIN</a>
     <a href="/cadastro">CADASTRO</a>
    <%} else {%>
     <a href="/dashboard">DASHBOARD</a>
     <a href="/postagens">POSTAGENS</a>
     <a href="/post_create">NOVA POSTAGEM</a>
     <a href="/logout">LOGOUT</a>
    <%} %>
  </nav>
</header>