<!DOCTYPE html>
<html lang="pt-br">
<link rel="icon" href="static/PAF.png" type="image/x-icon">
<body>
    <center>
      Cadastro feito com Sucesso!
      <br> <br>
      <img src="static/sucesso.png" width="300px" height="300px">
      <br> <br> 
      <a href="/login"> Vá para a Página de Login</a>
    </center>
</body>
</html>