<!DOCTYPE html>
<html lang="pt-br">

<%- include ("../partials/head")%>

<body>

    <%- include("../partials/menu"); %>

    Página Dashboard <br> <br>
    <a href="/index">Clique aqui para ir na Página Inicial </a>
    <%- include("../partials/footer"); %>
</body>

</html>