<!DOCTYPE html>
<html lang="pt-br">
<link rel="icon" href="static/PAF.png" type="image/x-icon">

<%- include ("../partials/head")%>

<body>

  <%- include("../partials/menu"); %> <br>



  <img src="static/erro404.png" width="100%">

  <%- include("../partials/footer"); %>

</body>

</html>