<!DOCTYPE html>
<html lang="pt-br">
<link rel="icon" href="static/PAF.png" type="image/x-icon">

<%- include ("../partials/head"); %>

<body>
    <%- include("../partials/menu"); %>
     
    <center><img src="static/techcorp.png" width="1280px" height="530px"></center>

    <%- include("../partials/footer"); %>
</body>

</html>