<!DOCTYPE html>
<html lang="pt-br">
<link rel="icon" href="static/PAF.png" type="image/x-icon">
<body>
    <center>
      Cadastro Inválido!
      <br> <br>
      <img src="static/Invalido.png" width="300px" height="300px">
      <br> <br> 
      <a href="/cadastro"> Volte para a Página de Cadastro e Refaça seu Cadastro</a>
    </center>
</body>
</html>