<!DOCTYPE html>
<html lang="pt-br">
<link rel="icon" href="static/PAF.png" type="image/x-icon">
<body>
    <center>
      Usuário Já Cadastrado!
      <br> <br>
      <img src="static/aviso.png" width="300px" height="300px">
      <br> <br> 
      <a href="/"> Já Cadastrado</a>
    </center>
</body>
</html>