<!DOCTYPE html>
<html lang="pt-br">
<link rel="icon" href="static/PAF.png" type="image/x-icon">

<%- include ("../partials/head")%>

<body>

  <%- include("../partials/menu"); %>



  <main>
    <center>
      <h4> FAZER LOGIN</h4>
      <form action="/login" method="post" class="formItens"> 
        Seu nome:
        <input type="text" name="username" id="username" placeholder="Digite seu usuário"> 
        Senha:
        <input type="password" name="password" id="senha" placeholder="Digite sua senha"> 
        <button type="submit">Entrar</button>
      </form>
    </center>
  </main>
    <%- include("../partials/footer"); %>
</body>

</html>