<!DOCTYPE html>
<html lang="pt-br">
<link rel="icon" href="static/PAF.png" type="image/x-icon">
<body>
    <center>
      Você ainda não esta Logado!
      <br> <br>
      <img src="static/Invalido.png" width="300px" height="300px">
      <br> <br> 
      <a href="/"> Vá para a Página de Cadastro</a>
    </center>
</body>
</html>