<!DOCTYPE html>
<html lang="pt-br">
<link rel="icon" href="static/PAF.png" type="image/x-icon">
<body>
  <h2>Você ainda não esta Logado!</h2>
    <img src="static/Invalido.png" width="300px" height="300px">
    <a href="/"> <input type="button" value="Vá para a Página de Cadastro"></a>
</body>
</html>